/* Reset */

@import url("./reset.css");

html,
p {
  font-family: "Noto Sans", sans-serif;
}
p {
  color: #fff;
}

/* Estilização Geral */

.header-bg {
  background: #1f2029;
  padding: 11px 0px;
}

.container {
  max-width: 997px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 15px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.search {
  position: relative;
}

.search input {
  background-color: #2d2e38;
  border: none;
  padding: 10px 0px 10px 47px;
  border-radius: 9px;
  font-size: 16px;
  height: 40px;
  color: #f6f6f6;
  width: 286px;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: #5c5e69;
}

#search {
  position: absolute;
  top: 12px;
  left: 17px;
}

/* POst */
main {
  margin-left: 542px;
  width: 500px;
}
.story {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 30px;
  padding: 23px 0px 23px 23px;
  color: #e8e8e9;
  text-align: center;
}
.story p {
  margin-top: 9px;
}
.story-bg {
  background: #1f2029;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.post {
  margin-bottom: 20px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2029;
  display: flex;
  padding: 12px;
}
.post-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.post-info p {
  font-size: 15px;
}
